<!-- 施設詳細ページ -->
<!DOCTYPE html>
<html lang="ja">

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>施設詳細 | ととのい</title>
    <meta name="description" content="人気のサウナ施設情報が確認できるwebページです。">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="{{url_for('static', filename='images/ofuro_sauna_hat.png')}}" alt="サウナアプリのロゴ">
            <p>ととのい</p>
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">サウナ施設一覧</a></li>
            <li><a href="{{ url_for('new_facility') }}">施設登録</a></li>
        </ul>
    </div>

    <div class="facility_info">
        <h1>{{ facility.name }}</h1>

        <p>都道府県: {{ facility.prefecture }}</p>
        <p>サウナ室温度: {{ facility.sauna_temp }}℃</p>
        <p>水風呂温度: {{ facility.water_temp }}℃</p>
    </div>

    <div class="comment_post">
        <h2>コメント投稿</h2>
        <form action="{{ url_for('add_review', facility_id=facility.id) }}" method="post">
            <div>
                <label for="user_name">名前</label>
                <input type="text" id="user_name" name="user_name" required>
            </div>
            <div>
                <label for="comment">コメント</label>
                <textarea id="comment" name="comment" required></textarea>
            </div>
            <button type="submit">投稿する</button>
        </form>
    </div>

    <div class="comment_view">
        <h2>コメント一覧</h2>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <strong>{{ review.user_name }}</strong> : {{ review.comment }}
                        
                        <form action="{{url_for('delete_comment', review_id=review.id)}}" method="post" 
                              onsubmit="return confirm('コメントを削除しますか？');">
                            <button type="submit" class="delete-btn">削除</button>
                        </form>  
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>まだコメントはありません。</p>
        {% endif %}
    </div>

</body>
</html>