<!-- 施設情報一覧テンプレート -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>ととのい</title>
    <meta name="description" content="人気のサウナ施設情報が確認できるwebアプリ「ととのい」">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="{{url_for('static', filename='images/ofuro_sauna_hat.png')}}" alt="coming soon">
            <p>ととのい</p>
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">サウナ施設一覧</a></li>
            <li><a href="{{ url_for('new_facility') }}">施設登録</a></li>
        </ul>
    </div>

    <div class="facility-list">
        <div class="facility-list-header">
            {% if search %}
                <h1>「{{search}}の検索結果」</h1>
            {% else %}
                <h1>サウナ施設一覧</h1>
            {% endif %}
        </div>

        <div class="facility-search">
            <form action="{{url_for('index')}}" method="get">
                <input type="text" name="search" placeholder="施設名で検索">
                <button type="submit">検索</button>
            </form>
        </div>
        
        <div class="facility-list-body">
            {% if facilities %}
                <ul>
                    {% for facility in facilities %}
                        <li>
                            <a href="{{ url_for('facility_detail', facility_id=facility.id) }}">
                                 {{ facility.name }}
                            </a>
                                ({{ facility.prefecture }})
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>該当するサウナ施設は見つかりませんでした。</p>
            {% endif %}
        </div>
    </div>    
</body>
</html>